html, body {
    min-width: 1200px;
}
li {
    list-style: none;
}
a {
	text-decoration: none;
	color: #333;
}
a:hover {
	text-decoration: none;
	color: #333;
}
.container {
    min-width: 1200px;
}
.navbar {
    min-height: 75px;
    margin-bottom: 0;
}
.navbar-default {
    background-color: #FFFFFC;
    border-color: #FFFFFC;
}